<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>controller.HomeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignInPage</servlet-name>
    <servlet-class>controller.SignInController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpPage</servlet-name>
    <servlet-class>controller.SignUpController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublicPage</servlet-name>
    <servlet-class>controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPage</servlet-name>
    <servlet-class>controller.ListController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInPage</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpPage</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublicPage</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPage</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

</web-app>
